﻿.busca-prova{
    max-width: 400px;
    margin: 0 auto 30px;
    .form-control{
        width: 100%;
        padding: 15px;
        border: 1px solid #ddd;
    }
    .resultados{
        padding: 10px;
        background: #ddd;
        &:hover{
            background-color: #9a9a9a;
            color: #fff;
        }
        .placa{
            font-size: 13px;
            margin: 0;
        }
        .hidden{
            display: none;
        }
    }
}