@{
    ViewBag.Title = "Prova Front- Busca Plraca";    
}

 <div class="ui center aligned container">        
    <h1>Busca Placa</h1>
</div>
 
<div class="container busca-prova">
    <div class="ui search">
        <form role="form">
            <div class="form-group">
            <input type="input" class="form-control" id="txt-search" placeholder="Busca placas">
            </div>
        </form>
        <div id="filter-records"></div>
    </div>
  </div>

<div class="ui modal placas-modal">
  <i class="close icon"></i>
  <div class="header">
    Resultado Placas
  </div>
  <div class="content">
   
    <div class="description">
      <div class="ui header marca"></div>
      <p class="modelo"></p>
      <p class="ano"></p>
      <p class="cor"></p>
      <p class="placa"></p>
    </div>
  </div>
</div>